# Bring in the Kedro the Framework to build maintainable Data Pipelines

## Install the Kedro's wrapper for pandas

In [143]:
%pip install kedro-datasets[pandas]

Requirement already satisfied: kedro-datasets[pandas] in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (3.0.1)
Requirement already satisfied: kedro>=0.19 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from kedro-datasets[pandas]) (0.19.6)
Requirement already satisfied: lazy-loader in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from kedro-datasets[pandas]) (0.4)
Requirement already satisfied: attrs>=21.3 in /home/mak/.local/lib/python3.10/site-packages (from kedro>=0.19->kedro-datasets[pandas]) (23.2.0)
Requirement already satisfied: build>=0.7.0 in /home/mak/.local/lib/python3.10/site-packages (from kedro>=0.19->kedro-datasets[pandas]) (1.2.1)
Requirement already satisfied: cachetools>=4.1 in /home/mak/.local/lib/python3.10/site-packages (from kedro>=0.19->kedro-datasets[pandas]) (5.3.3)
Requirement already satisfied: click>=4.0 in /home/mak/.local/lib/python3.10/site-packages (from kedro>=0.19->kedro-datasets[pandas]) (8.1.7)
Requirement already satisfied: cookiecutter<3.0,>=2.1.1 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from kedro>=0.19->kedro-datasets[pandas]) (2.6.0)
Requirement already satisfied: dynaconf<4.0,>=3.1.2 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from kedro>=0.19->kedro-datasets[pandas]) (3.2.5)
Requirement already satisfied: fsspec>=2021.4 in /home/mak/.local/lib/python3.10/site-packages (from kedro>=0.19->kedro-datasets[pandas]) (2024.6.0)
Requirement already satisfied: gitpython>=3.0 in /home/mak/.local/lib/python3.10/site-packages (from kedro>=0.19->kedro-datasets[pandas]) (3.1.43)
Requirement already satisfied: importlib-resources<7.0,>=1.3 in /home/mak/.local/lib/python3.10/site-packages (from kedro>=0.19->kedro-datasets[pandas]) (6.4.0)
Requirement already satisfied: more-itertools>=8.14.0 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from kedro>=0.19->kedro-datasets[pandas]) (10.3.0)
Requirement already satisfied: omegaconf>=2.1.1 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from kedro>=0.19->kedro-datasets[pandas]) (2.3.0)
Requirement already satisfied: parse>=1.19.0 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from kedro>=0.19->kedro-datasets[pandas]) (1.20.2)
Requirement already satisfied: pluggy>=1.0 in /home/mak/.local/lib/python3.10/site-packages (from kedro>=0.19->kedro-datasets[pandas]) (1.5.0)
Requirement already satisfied: pre-commit-hooks in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from kedro>=0.19->kedro-datasets[pandas]) (4.6.0)
Requirement already satisfied: PyYAML<7.0,>=4.2 in /home/mak/.local/lib/python3.10/site-packages (from kedro>=0.19->kedro-datasets[pandas]) (6.0.1)
Requirement already satisfied: rich<14.0,>=12.0 in /home/mak/.local/lib/python3.10/site-packages (from kedro>=0.19->kedro-datasets[pandas]) (13.7.1)
Requirement already satisfied: rope<2.0,>=0.21 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from kedro>=0.19->kedro-datasets[pandas]) (1.13.0)
Requirement already satisfied: toml>=0.10.0 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from kedro>=0.19->kedro-datasets[pandas]) (0.10.2)
Requirement already satisfied: importlib-metadata<8.0,>=3.6 in /home/mak/.local/lib/python3.10/site-packages (from kedro>=0.19->kedro-datasets[pandas]) (7.1.0)
WARNING: kedro-datasets 3.0.1 does not provide the extra 'pandas-gbqtabledataset-pandas-genericdataset'
Requirement already satisfied: tables~=3.6 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from kedro-datasets[pandas]) (3.9.2)
Requirement already satisfied: pandas-gbq<0.18.0,>=0.12.0 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from kedro-datasets[pandas]) (0.17.9)
Requirement already satisfied: SQLAlchemy<3.0,>=1.4 in /home/mak/.local/lib/python3.10/site-packages (from kedro-datasets[pandas]) (2.0.30)
Requirement already satisfied: pyarrow>=6.0 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from kedro-datasets[pandas]) (9.0.0)
Requirement already satisfied: openpyxl<4.0,>=3.0.6 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from kedro-datasets[pandas]) (3.1.4)
Requirement already satisfied: pyodbc>=4.0 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from kedro-datasets[pandas]) (5.1.0)
Requirement already satisfied: lxml~=4.6 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from kedro-datasets[pandas]) (4.9.4)
Requirement already satisfied: deltalake>=0.10.0 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from kedro-datasets[pandas]) (0.18.1)
Requirement already satisfied: packaging in /home/mak/.local/lib/python3.10/site-packages (from lazy-loader->kedro-datasets[pandas]) (23.2)
Requirement already satisfied: pyproject_hooks in /home/mak/.local/lib/python3.10/site-packages (from build>=0.7.0->kedro>=0.19->kedro-datasets[pandas]) (1.1.0)
Requirement already satisfied: tomli>=1.1.0 in /home/mak/.local/lib/python3.10/site-packages (from build>=0.7.0->kedro>=0.19->kedro-datasets[pandas]) (2.0.1)
Requirement already satisfied: binaryornot>=0.4.4 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from cookiecutter<3.0,>=2.1.1->kedro>=0.19->kedro-datasets[pandas]) (0.4.4)
Requirement already satisfied: Jinja2<4.0.0,>=2.7 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from cookiecutter<3.0,>=2.1.1->kedro>=0.19->kedro-datasets[pandas]) (3.1.4)
Requirement already satisfied: python-slugify>=4.0.0 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from cookiecutter<3.0,>=2.1.1->kedro>=0.19->kedro-datasets[pandas]) (8.0.4)
Requirement already satisfied: requests>=2.23.0 in /home/mak/.local/lib/python3.10/site-packages (from cookiecutter<3.0,>=2.1.1->kedro>=0.19->kedro-datasets[pandas]) (2.32.3)
Requirement already satisfied: arrow in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from cookiecutter<3.0,>=2.1.1->kedro>=0.19->kedro-datasets[pandas]) (1.3.0)
Requirement already satisfied: pyarrow-hotfix in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from deltalake>=0.10.0->kedro-datasets[pandas]) (0.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in /home/mak/.local/lib/python3.10/site-packages (from gitpython>=3.0->kedro>=0.19->kedro-datasets[pandas]) (4.0.11)
Requirement already satisfied: zipp>=0.5 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from importlib-metadata<8.0,>=3.6->kedro>=0.19->kedro-datasets[pandas]) (3.19.2)
Requirement already satisfied: antlr4-python3-runtime==4.9.* in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from omegaconf>=2.1.1->kedro>=0.19->kedro-datasets[pandas]) (4.9.3)
Requirement already satisfied: et-xmlfile in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from openpyxl<4.0,>=3.0.6->kedro-datasets[pandas]) (1.1.0)
Requirement already satisfied: setuptools in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from pandas-gbq<0.18.0,>=0.12.0->kedro-datasets[pandas]) (69.5.1)
Requirement already satisfied: db-dtypes<2.0.0,>=0.3.1 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from pandas-gbq<0.18.0,>=0.12.0->kedro-datasets[pandas]) (1.2.0)
Requirement already satisfied: numpy>=1.16.6 in /home/mak/.local/lib/python3.10/site-packages (from pandas-gbq<0.18.0,>=0.12.0->kedro-datasets[pandas]) (1.24.1)
Requirement already satisfied: pandas>=0.24.2 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from pandas-gbq<0.18.0,>=0.12.0->kedro-datasets[pandas]) (2.2.2)
Requirement already satisfied: pydata-google-auth in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from pandas-gbq<0.18.0,>=0.12.0->kedro-datasets[pandas]) (1.8.2)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /home/mak/.local/lib/python3.10/site-packages (from pandas-gbq<0.18.0,>=0.12.0->kedro-datasets[pandas]) (2.19.0)
Requirement already satisfied: google-auth>=1.25.0 in /home/mak/.local/lib/python3.10/site-packages (from pandas-gbq<0.18.0,>=0.12.0->kedro-datasets[pandas]) (2.30.0)
Requirement already satisfied: google-auth-oauthlib>=0.0.1 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from pandas-gbq<0.18.0,>=0.12.0->kedro-datasets[pandas]) (1.2.0)
Requirement already satisfied: google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2 in /home/mak/.local/lib/python3.10/site-packages (from pandas-gbq<0.18.0,>=0.12.0->kedro-datasets[pandas]) (3.24.0)
Requirement already satisfied: google-cloud-bigquery-storage<3.0.0dev,>=1.1.0 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from pandas-gbq<0.18.0,>=0.12.0->kedro-datasets[pandas]) (2.25.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in /home/mak/.local/lib/python3.10/site-packages (from rich<14.0,>=12.0->kedro>=0.19->kedro-datasets[pandas]) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /home/mak/.local/lib/python3.10/site-packages (from rich<14.0,>=12.0->kedro>=0.19->kedro-datasets[pandas]) (2.17.2)
Requirement already satisfied: pytoolconfig>=1.2.2 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from pytoolconfig[global]>=1.2.2->rope<2.0,>=0.21->kedro>=0.19->kedro-datasets[pandas]) (1.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/mak/.local/lib/python3.10/site-packages (from SQLAlchemy<3.0,>=1.4->kedro-datasets[pandas]) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in /home/mak/.local/lib/python3.10/site-packages (from SQLAlchemy<3.0,>=1.4->kedro-datasets[pandas]) (3.0.3)
Requirement already satisfied: numexpr>=2.6.2 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from tables~=3.6->kedro-datasets[pandas]) (2.10.1)
Requirement already satisfied: py-cpuinfo in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from tables~=3.6->kedro-datasets[pandas]) (9.0.0)
Requirement already satisfied: blosc2>=2.3.0 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from tables~=3.6->kedro-datasets[pandas]) (2.7.0)
Requirement already satisfied: ruamel.yaml>=0.15 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from pre-commit-hooks->kedro>=0.19->kedro-datasets[pandas]) (0.18.6)
Requirement already satisfied: chardet>=3.0.2 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from binaryornot>=0.4.4->cookiecutter<3.0,>=2.1.1->kedro>=0.19->kedro-datasets[pandas]) (5.2.0)
Requirement already satisfied: ndindex>=1.4 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from blosc2>=2.3.0->tables~=3.6->kedro-datasets[pandas]) (1.8)
Requirement already satisfied: msgpack in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from blosc2>=2.3.0->tables~=3.6->kedro-datasets[pandas]) (1.0.8)
Requirement already satisfied: smmap<6,>=3.0.1 in /home/mak/.local/lib/python3.10/site-packages (from gitdb<5,>=4.0.1->gitpython>=3.0->kedro>=0.19->kedro-datasets[pandas]) (5.0.1)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /home/mak/.local/lib/python3.10/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas-gbq<0.18.0,>=0.12.0->kedro-datasets[pandas]) (1.63.1)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5 in /home/mak/.local/lib/python3.10/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas-gbq<0.18.0,>=0.12.0->kedro-datasets[pandas]) (4.25.3)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.3 in /home/mak/.local/lib/python3.10/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas-gbq<0.18.0,>=0.12.0->kedro-datasets[pandas]) (1.23.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /home/mak/.local/lib/python3.10/site-packages (from google-auth>=1.25.0->pandas-gbq<0.18.0,>=0.12.0->kedro-datasets[pandas]) (0.4.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /home/mak/.local/lib/python3.10/site-packages (from google-auth>=1.25.0->pandas-gbq<0.18.0,>=0.12.0->kedro-datasets[pandas]) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /home/mak/.local/lib/python3.10/site-packages (from google-auth-oauthlib>=0.0.1->pandas-gbq<0.18.0,>=0.12.0->kedro-datasets[pandas]) (2.0.0)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.6.0 in /home/mak/.local/lib/python3.10/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2->pandas-gbq<0.18.0,>=0.12.0->kedro-datasets[pandas]) (2.4.1)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /home/mak/.local/lib/python3.10/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2->pandas-gbq<0.18.0,>=0.12.0->kedro-datasets[pandas]) (2.7.1)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2->pandas-gbq<0.18.0,>=0.12.0->kedro-datasets[pandas]) (2.9.0.post0)
Requirement already satisfied: MarkupSafe>=2.0 in /home/mak/.local/lib/python3.10/site-packages (from Jinja2<4.0.0,>=2.7->cookiecutter<3.0,>=2.1.1->kedro>=0.19->kedro-datasets[pandas]) (2.1.2)
Requirement already satisfied: mdurl~=0.1 in /home/mak/.local/lib/python3.10/site-packages (from markdown-it-py>=2.2.0->rich<14.0,>=12.0->kedro>=0.19->kedro-datasets[pandas]) (0.1.2)
Requirement already satisfied: pytz>=2020.1 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from pandas>=0.24.2->pandas-gbq<0.18.0,>=0.12.0->kedro-datasets[pandas]) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from pandas>=0.24.2->pandas-gbq<0.18.0,>=0.12.0->kedro-datasets[pandas]) (2024.1)
Requirement already satisfied: text-unidecode>=1.3 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from python-slugify>=4.0.0->cookiecutter<3.0,>=2.1.1->kedro>=0.19->kedro-datasets[pandas]) (1.3)
Requirement already satisfied: platformdirs>=3.11.0 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from pytoolconfig[global]>=1.2.2->rope<2.0,>=0.21->kedro>=0.19->kedro-datasets[pandas]) (4.2.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/mak/.local/lib/python3.10/site-packages (from requests>=2.23.0->cookiecutter<3.0,>=2.1.1->kedro>=0.19->kedro-datasets[pandas]) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from requests>=2.23.0->cookiecutter<3.0,>=2.1.1->kedro>=0.19->kedro-datasets[pandas]) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/mak/.local/lib/python3.10/site-packages (from requests>=2.23.0->cookiecutter<3.0,>=2.1.1->kedro>=0.19->kedro-datasets[pandas]) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /home/mak/.local/lib/python3.10/site-packages (from requests>=2.23.0->cookiecutter<3.0,>=2.1.1->kedro>=0.19->kedro-datasets[pandas]) (2022.12.7)
Requirement already satisfied: ruamel.yaml.clib>=0.2.7 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from ruamel.yaml>=0.15->pre-commit-hooks->kedro>=0.19->kedro-datasets[pandas]) (0.2.8)
Requirement already satisfied: types-python-dateutil>=2.8.10 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from arrow->cookiecutter<3.0,>=2.1.1->kedro>=0.19->kedro-datasets[pandas]) (2.9.0.20240316)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in /home/mak/.local/lib/python3.10/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2->pandas-gbq<0.18.0,>=0.12.0->kedro-datasets[pandas]) (1.64.1)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /home/mak/.local/lib/python3.10/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2->pandas-gbq<0.18.0,>=0.12.0->kedro-datasets[pandas]) (1.62.2)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /home/mak/.local/lib/python3.10/site-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2->pandas-gbq<0.18.0,>=0.12.0->kedro-datasets[pandas]) (1.5.0)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in /home/mak/.local/lib/python3.10/site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.25.0->pandas-gbq<0.18.0,>=0.12.0->kedro-datasets[pandas]) (0.6.0)
Requirement already satisfied: six>=1.5 in /home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages (from python-dateutil<3.0dev,>=2.7.2->google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2->pandas-gbq<0.18.0,>=0.12.0->kedro-datasets[pandas]) (1.16.0)
Requirement already satisfied: oauthlib>=3.0.0 in /home/mak/.local/lib/python3.10/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.0.1->pandas-gbq<0.18.0,>=0.12.0->kedro-datasets[pandas]) (3.2.2)
Note: you may need to restart the kernel to use updated packages.

## Load the kedro's extension for ipython(jupyter) to access kedro's Object inside notebook

In [144]:
%load_ext kedro.ipython

The kedro.ipython extension is already loaded. To reload it, use:
  %reload_ext kedro.ipython

## Verify whether the any expected Kedro object is available, choosen catalog is available

In [145]:
catalog

<kedro.io.data_catalog.DataCatalog object at 0x7cc7709572e0>

## Check whether the catalogs defined in catalog.yml are available

In [146]:
catalog.list()

['companies', 'reviews', 'shuttles', 'parameters']

# Preprocessing with Data Catalog: Companies

## Load the companies csv file as panda's dataframe using kedro's catalog

In [147]:
companies = catalog.load("companies")

[06/23/24 22:32:23] INFO     Loading data from companies (CSVDataset)...                        ]8;id=538822;file:///home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=941965;file:///home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages/kedro/io/data_catalog.py#508\508]8;;\

### Verify whether its really Pandas data frame

In [148]:
type(companies)

<class 'pandas.core.frame.DataFrame'>

### use the famous head method from dataframe to glimpse at the data

In [149]:
companies.head()

,id,company_rating,company_location,total_fleet_count,iata_approved
0,3888,100%,Isle of Man,1.0,f
1,46728,100%,NaN,1.0,f
2,34618,38%,Isle of Man,1.0,f
3,28619,100%,Bosnia and Herzegovina,1.0,f
4,8240,NaN,Chile,1.0,t

### Above dataframe's column iata_approved has a single character t or f. let's examine the column type

In [150]:
companies.dtypes

id                     int64
company_rating        object
company_location      object
total_fleet_count    float64
iata_approved         object
dtype: object

### Let's examine iata_approved column alone for its data

In [151]:
companies["iata_approved"]

0        f
1        f
2        f
3        f
4        t
        ..
10014    f
10015    f
10016    t
10017    f
10018    f
Name: iata_approved, Length: 10019, dtype: object

In [152]:
companies["iata_approved"] == "t"

0        False
1        False
2        False
3        False
4         True
         ...
10014    False
10015    False
10016     True
10017    False
10018    False
Name: iata_approved, Length: 10019, dtype: bool

### BY USING FUNCTIONS, Let's use above strategy to change the dtype from object to bool

In [1]:
import pandas as pd

In [154]:
def _is_true(x: pd.Series) -> pd.Series:
    return x == "t"

In [155]:
companies["iata_approved"] = _is_true(companies["iata_approved"])

### quick confirmation whether dtype of column changed

In [156]:
companies.dtypes

id                     int64
company_rating        object
company_location      object
total_fleet_count    float64
iata_approved           bool
dtype: object

In [157]:
companies.head()

,id,company_rating,company_location,total_fleet_count,iata_approved
0,3888,100%,Isle of Man,1.0,False
1,46728,100%,NaN,1.0,False
2,34618,38%,Isle of Man,1.0,False
3,28619,100%,Bosnia and Herzegovina,1.0,False
4,8240,NaN,Chile,1.0,True

## Since the row 4 has some NaN for company_rating, Let's check the company_rating's column, does "%" makes sense

In [158]:
companies["company_rating"]

0        100%
1        100%
2         38%
3        100%
4         NaN
         ...
10014     NaN
10015    100%
10016    100%
10017    100%
10018     90%
Name: company_rating, Length: 10019, dtype: object

In [159]:
companies.dtypes

id                     int64
company_rating        object
company_location      object
total_fleet_count    float64
iata_approved           bool
dtype: object

In [160]:
companies["company_rating"].str.replace("%","").astype(float)

0        100.0
1        100.0
2         38.0
3        100.0
4          NaN
         ...
10014      NaN
10015    100.0
10016    100.0
10017    100.0
10018     90.0
Name: company_rating, Length: 10019, dtype: float64

### Lets use above strategy to change the string to float for column: company_rating

In [161]:
def _parse_percentage(x:pd.Series) -> pd.Series:
    return x.str.replace("%","").astype(float)

In [162]:
companies["company_rating"]=_parse_percentage(companies["company_rating"])

### verify the column type changed for company_rating

In [163]:
companies.dtypes

id                     int64
company_rating       float64
company_location      object
total_fleet_count    float64
iata_approved           bool
dtype: object

### Verify the values as well

In [164]:
companies.head()

,id,company_rating,company_location,total_fleet_count,iata_approved
0,3888,100.0,Isle of Man,1.0,False
1,46728,100.0,NaN,1.0,False
2,34618,38.0,Isle of Man,1.0,False
3,28619,100.0,Bosnia and Herzegovina,1.0,False
4,8240,NaN,Chile,1.0,True

# Preprocessing for data catalog: Shuttles

### Loading the data as data frame

In [165]:
shuttles = catalog.load("shuttles")

[06/23/24 22:32:24] INFO     Loading data from shuttles (ExcelDataset)...                       ]8;id=362135;file:///home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=696233;file:///home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages/kedro/io/data_catalog.py#508\508]8;;\

In [166]:
shuttles.head()

,id,shuttle_location,shuttle_type,engine_type,engine_vendor,engines,passenger_capacity,cancellation_policy,crew,d_check_complete,moon_clearance_complete,price,company_id
0,45163,Sao Tome and Principe,Type V5,Plasma,ThetaBase Services,2.0,4,moderate,2.0,f,f,"$1,715.0",32413
1,49438,Wallis and Futuna,Type V2,Plasma,ThetaBase Services,3.0,5,moderate,3.0,f,f,"$3,405.0",14122
2,10750,Niue,Type F5,Quantum,ThetaBase Services,1.0,2,strict,1.0,t,f,"$1,806.0",47761
3,4146,Malta,Type V2,Quantum,ThetaBase Services,1.0,2,moderate,1.0,f,f,"$1,676.0",26648
4,5067,Malta,Type V2,Plasma,ThetaBase Services,5.0,10,strict,5.0,f,f,"$4,718.0",26648

### the d_check_complete, moon_clearance_complete expected to be in boolean. let' replace t and f, the string type to boolean True and False

In [167]:
shuttles.dtypes

id                           int64
shuttle_location            object
shuttle_type                object
engine_type                 object
engine_vendor               object
engines                    float64
passenger_capacity           int64
cancellation_policy         object
crew                       float64
d_check_complete            object
moon_clearance_complete     object
price                       object
company_id                   int64
dtype: object

### slice the dataframe to look for any more occurences of data to be converted as boolean

In [168]:
shuttles.iloc[:,5:]

,engines,passenger_capacity,cancellation_policy,crew,d_check_complete,moon_clearance_complete,price,company_id
0,2.0,4,moderate,2.0,f,f,"$1,715.0",32413
1,3.0,5,moderate,3.0,f,f,"$3,405.0",14122
2,1.0,2,strict,1.0,t,f,"$1,806.0",47761
3,1.0,2,moderate,1.0,f,f,"$1,676.0",26648
4,5.0,10,strict,5.0,f,f,"$4,718.0",26648
...,...,...,...,...,...,...,...,...
15526,1.0,2,flexible,1.0,t,f,"$2,040.0",5816
15527,1.0,1,strict,1.0,t,f,"$1,260.0",19010
15528,2.0,4,flexible,2.0,t,f,"$4,107.0",6654
15529,1.0,2,flexible,1.0,t,f,"$2,170.0",27363
15530,0.0,2,moderate,2.0,t,f,"$1,455.0",12542

In [169]:
shuttles["d_check_complete"] = _is_true(shuttles["d_check_complete"])
shuttles["moon_clearance_complete"] = _is_true(shuttles["moon_clearance_complete"])

### Verify the datatypes for the columns we intented to change

In [170]:
shuttles.dtypes

id                           int64
shuttle_location            object
shuttle_type                object
engine_type                 object
engine_vendor               object
engines                    float64
passenger_capacity           int64
cancellation_policy         object
crew                       float64
d_check_complete              bool
moon_clearance_complete       bool
price                       object
company_id                   int64
dtype: object

### Next change the price column to float by converting the string value, drop $ and comma

In [171]:
def _parse_money(x:pd.Series) -> pd.Series:
    return x.str.replace("$","").str.replace(",","").astype(float)

In [172]:
shuttles["price"]=_parse_money(shuttles["price"])

### the changed type and its value are verified

In [173]:
shuttles.dtypes

id                           int64
shuttle_location            object
shuttle_type                object
engine_type                 object
engine_vendor               object
engines                    float64
passenger_capacity           int64
cancellation_policy         object
crew                       float64
d_check_complete              bool
moon_clearance_complete       bool
price                      float64
company_id                   int64
dtype: object

In [174]:
shuttles.iloc[:,5:]

,engines,passenger_capacity,cancellation_policy,crew,d_check_complete,moon_clearance_complete,price,company_id
0,2.0,4,moderate,2.0,False,False,1715.0,32413
1,3.0,5,moderate,3.0,False,False,3405.0,14122
2,1.0,2,strict,1.0,True,False,1806.0,47761
3,1.0,2,moderate,1.0,False,False,1676.0,26648
4,5.0,10,strict,5.0,False,False,4718.0,26648
...,...,...,...,...,...,...,...,...
15526,1.0,2,flexible,1.0,True,False,2040.0,5816
15527,1.0,1,strict,1.0,True,False,1260.0,19010
15528,2.0,4,flexible,2.0,True,False,4107.0,6654
15529,1.0,2,flexible,1.0,True,False,2170.0,27363
15530,0.0,2,moderate,2.0,True,False,1455.0,12542

In [53]:
shuttles.head()

,id,shuttle_location,shuttle_type,engine_type,engine_vendor,engines,passenger_capacity,cancellation_policy,crew,d_check_complete,moon_clearance_complete,price,company_id
0,45163,Sao Tome and Principe,Type V5,Plasma,ThetaBase Services,2.0,4,moderate,2.0,False,False,1715.0,32413
1,49438,Wallis and Futuna,Type V2,Plasma,ThetaBase Services,3.0,5,moderate,3.0,False,False,3405.0,14122
2,10750,Niue,Type F5,Quantum,ThetaBase Services,1.0,2,strict,1.0,True,False,1806.0,47761
3,4146,Malta,Type V2,Quantum,ThetaBase Services,1.0,2,moderate,1.0,False,False,1676.0,26648
4,5067,Malta,Type V2,Plasma,ThetaBase Services,5.0,10,strict,5.0,False,False,4718.0,26648

# Preprocessing for data catalog: Reviews

In [54]:
catalog.load("reviews")

[06/23/24 22:16:32] INFO     Loading data from reviews (CSVDataset)...                          ]8;id=275912;file:///home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=114101;file:///home/mak/anaconda3/envs/kedro-environment/lib/python3.10/site-packages/kedro/io/data_catalog.py#508\508]8;;\

,shuttle_id,review_scores_rating,review_scores_comfort,review_scores_amenities,review_scores_trip,review_scores_crew,review_scores_location,review_scores_price,number_of_reviews,reviews_per_month
0,45163,91.0,10.0,9.0,9.0,9.0,9.0,9.0,26,0.77
1,49438,96.0,10.0,10.0,10.0,10.0,10.0,9.0,61,0.62
2,10750,97.0,10.0,10.0,10.0,10.0,10.0,10.0,467,4.66
3,4146,95.0,10.0,10.0,10.0,10.0,9.0,9.0,318,3.22
4,5067,97.0,10.0,9.0,10.0,10.0,9.0,10.0,22,0.29
...,...,...,...,...,...,...,...,...,...,...
15526,63513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
15527,44668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
15528,4368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
15529,21738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
15530,72645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN